<div>
	<h1>Edit Your Profile </h1>
	<hr>
	<div class="col-md-4">
		<form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
			<div class="form-group" [ngClass]="{'error': !validateFirstName()}">
				<div class="d-flex align-items-end">
					<label for="firstName">First Name:</label>
					<em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors?.required"
						class="text-warning ml-auto small">
						Required</em>
					<em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors?.pattern"
						class="text-warning ml-auto small">
						Must start with a letter</em>
				</div>
				<input formControlName="firstName" id="firstName" type="text" class="form-control"
					placeholder="First Name..." />
			</div>
			<div class="form-group" [ngClass]="{'error': !validateLastName()}">
				<div class="d-flex align-items-end">
					<label for="lastName">Last Name:</label>
					<em *ngIf="!validateLastName() && profileForm.controls.lastName.errors?.required"
						class="text-warning ml-auto small">
						Required</em>
					<em *ngIf="!validateLastName() && profileForm.controls.lastName.errors?.pattern"
						class="text-warning ml-auto small">
						Must start with a letter</em>
				</div>
				<input formControlName="lastName" id="lastName" type="text" class="form-control"
					placeholder="Last Name..." />
			</div>

			<div class="d-flex">
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
				<button type="button" class="btn btn-warning ml-auto" (click)="logout()">Logut</button>
			</div>
		</form>
	</div>
</div>