/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
@import "colors.scss";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

*:focus {
  outline: none !important;
}

body {
  background-color: $c-white;
}

h3,
h2 {
  color: $c-blue;
}

hr {
  border-color: $c-lines;
}

.well {
  background-color: $c-white;
  box-shadow: 0 6px 6px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
  transition: 2s;
}

.well:hover {
  box-shadow: 0 8px 8px rgba(10, 16, 20, 0.24), 0 0 8px rgba(10, 16, 20, 0.12);
  cursor: pointer;
}

.pointable {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

// .toast-success {
//   background-color: #51a351;
// }
// .toast-error {
//   background-color: #bd362f;
// }
// .toast-info {
//   background-color: #2f96b4;
// }
// .toast-warning {
//   background-color: #f89406;
// }
